body {
  margin: 0;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: flex-start;
}

/* Book */
.book {
  width: 280px;
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}

.book img {
  width: 250px;
  height: 350px;
  object-fit: contain;
}

/* Pen */
.pen {
  width: 280px;
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}

.pen img {
  width: 250px;
  height: 250px;
  object-fit: contain;
}

/* Fruit */
.fruit {
  width: 280px;
  border: 1px solid black;
  padding: 10px;
}
.container img {
  width: 180px !important;
  height: 180px !important;
  object-fit: contain;
}